.container {
    width: 334px;
    height: 630px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 1px 2px 1px rgb(207, 207, 207);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    position: absolute;
    font-family: kakao;
 
}

.header{
    width: 90%;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: bold;
    margin: 20px 0px 20px 0px ;
    justify-content: space-between;
    color:black;
}
.header > i{
    transition : color 0.3s;
}
.header > i:hover{
    cursor: pointer;
    color : rgb(64, 143, 247);
}

.main {
    width: 90%;
    height:auto;
    
}

.addedContent {
    margin-top: 2px;
    height: 30px;
    border: 6px solid rgb(240, 240, 240);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: black;
    font-weight: bold;
}
.asdf{
    /* 자식 요소가 부모 요소를 벗어나게 될 경우 자동으로 스크롤 바가 생성 */
        overflow: auto;
        width:105.5%;
        height:250px;
        margin-top:10px;
        
}
.asdf::-webkit-scrollbar{

}
.addedContent>span {
    color: gray;
    font-weight: 600;
}

.amountsOfContentsIs5 {
    margin-top: 20px;
    font-size: 14px;
    color: rgb(177, 177, 177);
}
.contentArea{
    width:100%;
    height:100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    
}

.content{
    width:95%;
    height:70px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.xBtn{
    margin:-65px 0px 0px 91%;
    position: absolute;
    width:20px;
    height:20px;
    border-radius: 20px;
    border: 1px solid rgb(230, 230, 230);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:2;
}
.xBtn:hover{
    cursor: pointer;
}
.content > img{
    width:30px;
    height:30px;
    border-radius: 30px;
    box-shadow: 1px 1px 2px 1px rgb(207, 207, 207);

}
.content > div:nth-child(2){
    margin: 0px 10px 0px 10px;
    width:130px;
}
.content > div:nth-child(3){
    font-size: 14px;
    width:90px;
}
.normalPay{
    width:100%;
    height:50px;
    border-bottom: 1px solid rgb(230, 230, 230);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.discount{
    width:100%;
    height:50px;
    border-bottom: 1px solid rgb(230, 230, 230);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.discount > div:nth-child(2){
    color: rgb(247, 64, 134);

}
.totalPay{
    width:100%;
    height:50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.totalPay > div:nth-child(2){
    display: flex;
    justify-content: flex-end;
    width:auto;
}
.totalPay > div:nth-child(2) > div:nth-child(1){
    color: rgb(247, 64, 134);
    margin-right: 10px;
}
li{
    list-style: none;
}
.confirmBtn{
    width:100%;
    height:50px;
    color:white;
    background-color: rgb(64, 143, 247);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    transition : background-color 0.5s;
}
.confirmBtn:hover{
    background-color: rgb(247, 64, 134);
    cursor: pointer;
}
@font-face {
    font-family: kakao;
    src: url(../font/KakaoRegular.ttf);
}