.header{
    width:80%;
    height:50px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
}
.headerLeft{
    width:60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.headerRight{}