.container{
    width:99.9vw;
    min-width:1000px;
    height:auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    animation: opacity 0.5s ease-in-out;
  }
  .box1{
    display: flex;
  
  }
  @keyframes opacity {
    from{opacity: 0;}
    to{opacity: 1;}
    
  }