.container{
    width:100vw;
    height:auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    animation: opacity 0.5s ease-in-out;
  }
  .box1{
    display: flex;
  
  }
  @keyframes opacity {
    from{opacity: 0;}
    to{opacity: 1;}
    
  }
  /* @media screen and (width<=1540px){
    .container{
      width:calc(1440px + 100px);
    }
  } */