.container{
    width:100%;
    min-height:1000px;
    display: flex;
}
.main{    
    width:100%;
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main > a {
    width:1000px;
    height:calc(1000px * 9 / 16);
    ;
}
.portfolio{
    width:100%;
    height:100%;
    border:1px solid red;
}